body{
    padding: 20px;
    margin: 20px;
    background-color: rgb(203, 203, 203);
}
#content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 5px;
    border-radius: 20px;
    background-color: #4e4e4e;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
    flex-wrap: wrap;
}
